body{
  background-image: url('https://i.imgur.com/CSvuq4b.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.barraPrincipal {
  max-width: 100%;
  height:1.2cm;
  display:flex;
  justify-content:left;
  background-color:#7749F8;
}
.logo{
 margin-top: 8px;
 color: white;
}
.botaoInicio{
  margin-top: -6px;
  margin-left: 70px;
  background-color:#7749F8;
  color:white;
  border-style: none;
}
.botaoMapa{
  margin-top: -6px;
  margin-left: 19px;
  background-color:#7749F8;
  color:white;
  border-style: none;
}
.botaoIdioma{
  margin-top: -6px;
  margin-left: 300px;
  background-color:#7749F8;
  color:white;
  border-style: none;
}

.botaoInicio:hover {
  color:cyan;
}
.botaoMapa:hover {
  color:cyan;
}
.botaoIdioma:hover {
  color:cyan;
}
span{
  margin-left: 10px;
}
.barraPesquisa{
  width: 10cm;
  margin-top: 6px;
  border-style:none;
  border: 2px;
  border-radius: 12px;
  padding: 5px;
}
.menuPerfil{
  width:300px;
  height:200px;
  border:none;
  border-radius: 12px;
  background-color:#F1F1F1;
  margin-top: 20px;
  margin-left: 20px;
}
.botaoConfiguracoesPerfil{
  margin:auto;
  margin-left: 8px;
  margin-top: 15px;
  border:none;
  background-color: transparent;
  color:black;
  border-style: none;
}
.botaoConfiguracoesPerfil:hover{
  color:blue;
}
.botaoDadosPessoaisPerfil{
  margin:auto;
  margin-left: 8px;
  margin-top: 15px;
  border:none;
  background-color: transparent;
  color:black;
  border-style: none;
}
.botaoDadosPessoaisPerfil:hover{
  color:blue;
}
.botaoDadosPagamentoPerfil{
  margin:auto;
  margin-left: 8px;
  margin-top: 15px;
  border:none;
  background-color: transparent;
  color:black;
  border-style: none;
}
.botaoDadosPagamentoPerfil:hover{
  color:blue;
}
